.timeline-container {
    position: relative;
    width: 200px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .timeline-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .circle {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: default;
  }
  
  .plus {
    cursor: pointer;
  }
  
  .line {
    width: 4px;
    height: 40px;
    background-color: black;
    margin: 4px 0;
  }
  
  .tooltip {
    position: absolute;
    top: -5px;
    white-space: nowrap;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
    font-size: 13px;
  }
  
  .tooltip.left {
    left: -180px;
    border-left: 10px solid transparent;
  }
  
  .tooltip.right {
    left: 40px;
    border-right: 10px solid transparent;
  }
  